{% extends "base.html" %}

{% block content %}
<div class="sb-sidenav-footer">
  {% if current_user.is_authenticated %}
  Welcome back! {{ user_name}}
  {% endif %}
  {% if not current_user.is_authenticated %}
  Guest
  {% endif %}
</div>
</nav>
</div>
<div id="layoutSidenav_content">
  <main>

    <div class="container">
      <br>
      <h1 class="title">
        App for Reading Material
      </h1>
      <h3 class="subtitle">
        This is a prototype for the project codenamed "App for reading material" developed by Pedro Vidal and Nicolás Cevallos. 
        The app allows users to create student/teacher accounts to create or join courses in which reading material can be seen, 
        and tests based on this material can be taken with a grading system.
      </h3>
      <h3 class="subtitle">
        The application is based on a bootstrap template and is running on flask.
      </h3>
    </div>

  </main>
</div>

{% endblock %}